.calculator_area {
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;

   
}

.body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    p {
        color: red;
        font-size: 1rem;
        font-weight: bold;
    
    }

        .textfield {
            width: 40vmax;
            padding: 0.5rem;
            
        }
    
}

.body_element {
    width: 40vmax;
    padding: 1rem;
}

.card {
    padding: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
   
      
}

.image {
    width: 20%;
    height: auto;
}

.card {
    padding-bottom: 1rem;
    :hover {
        color: red;
        background-color:rgb(149, 209, 231);

    }
}