
.header {
    background-color: #171645;
    margin-left: 0;
    margin-right: 0;
    color: #ffffff;
   
   
      .header.title {
          margin-bottom: 30px;
      }
      img {
        width: 70%;
        height: auto;
    }
  }

  